.distance {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    justify-content: center;
    align-items: center;
    > section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > figure {
            display: flex;
            column-gap: 2vh;
            img {
                height: 15vh;
            }
        }
    }
    > aside {
        display: flex;
        align-items: center;
        column-gap: 1vh;
        button {
            height: 5vh;
            width: 5vh;
            font-size: 28px;
            font-weight: 600;
        }
    }
}